.DS_Store
# create-react-app gitignore
js/dist
js/dist/*
node_modules
node_modules/*
coverage
build
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
